<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hubu.work.H2_MyBatis.mapper.CommentMapper">

    <select id="selectAllCommentsByName" resultType="com.hubu.work.H2_MyBatis.pojo.Comment">
        select * from comment where commentAim=#{aim};
    </select>

    <insert id="addComment">
        insert into comment (commentAim,author,content,praisePoints,publicationTime,replayId)
        values (#{commentAim},#{author},#{content} ,#{praisePoints},#{publicationTime},#{replayId})
    </insert>

    <select id="selectAllCommentsById" resultType="com.hubu.work.H2_MyBatis.pojo.Comment">
        select * from comment where replayId=#{id}
    </select>

    <select id="selectCommentById" resultType="com.hubu.work.H2_MyBatis.pojo.Comment">
        select * from comment where id=#{id}
    </select>

    <update id="addPraise">
        update comment set praisePoints=#{praisePoints} where id=#{id}
    </update>

</mapper>