<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hubu.work.H2_MyBatis.mapper.ReplayMapper">

    <select id="selectAllReplayById" resultType="com.hubu.work.H2_MyBatis.pojo.Comment">
        select * from comment where replayId=#{id}
    </select>

    <insert id="addReplay">
        insert into comment (id,commentAim,author,content,praisePoints,replayId)
        values (#{id},#{commentAim},#{author},#{content} ,#{praisePoints},#{publicationTime},#{replayId})
    </insert>
<!--UPDATE Person SET FirstName = 'Fred' WHERE LastName = 'Wilson' -->
    <update id="givePraise">
        update comment set praisePoints=#{praisePoints} where id=#{id}
    </update>

    <select id="queryCommentById" resultType="com.hubu.work.H2_MyBatis.pojo.Comment">
        select * from comment where id=#{id}
    </select>

</mapper>