<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hubu.work.H2_MyBatis.mapper.SongsMapper">

    <select id="querySongByName" resultType="com.hubu.work.H2_MyBatis.pojo.Songs">
        select * from songs
        where name like CONCAT('%',#{name},'%')
    </select>

    <select id="querySongByAuthor" resultType="com.hubu.work.H2_MyBatis.pojo.Songs">
        select * from songs
        where author like CONCAT('%',#{author},'%')
    </select>

    <select id="querySongByAscription" resultType="com.hubu.work.H2_MyBatis.pojo.Songs">
        select * from songs
        where ascription like CONCAT('%',#{ascription},'%')
    </select>

    <select id="querySongByAnything" resultType="com.hubu.work.H2_MyBatis.pojo.Songs">
        select * from songs where
        author like CONCAT('%',#{string},'%')
        or name like CONCAT('%',#{string},'%')
        or ascription like CONCAT('%',#{string},'%')
    </select>

    <update id="addClickThroughput">
        update songs set click_throughput=#{click_throughput} where id=#{id}
    </update>

    <select id="querySongById" resultType="com.hubu.work.H2_MyBatis.pojo.Songs">
        select * from songs where ID=#{id}
    </select>

    <select id="queryAllSongs" resultType="com.hubu.work.H2_MyBatis.pojo.Songs">
        select * from songs;
    </select>

</mapper>